<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Design of Shell and Tube Heat Exchanger</h1>
    <h2>by Kern's Method</h2>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <br>
      <fieldset class="col-md-6"><legend>Hot Fluid</legend>
        <form class="form-inline">
          <label for="hotFluid">Hot Fluid:</label>
          <select class="form-control" ng-model="hot.material" ng-options="option for option in hotFluidOptions"></select>
        </form>
        <p ng-bind="hot.side"></p>
        <button ng-click="switchSides()">Switch Sides</button>
        <br><br>
        <form class="form-inline">
          <input class="form-control" type="number" step="any" ng-model="hot.temp.In.input"></input>
          <select class="form-control" class="form-group"ng-model="hot.temp.In.unit" ng-options="option for option in tempOptions"></select>
          <p>{{hot.temp.In.value | number}}</p>
          <input class="form-control" type="number" step="any"ng-model="hot.temp.Out.input"></input>
          <select class="form-control" ng-model="hot.temp.Out.unit" ng-options="option for option in tempOptions"></select>
          <p>{{hot.temp.Out.value | number}}</p>
        </form>
        <form class="form-inline">
          <div class="form-group">
            <label>Density</label>
            <input class="form-control" ng-model="hot.density.input" type="number" step="any">
            <select class="form-control" ng-model="hot.density.unit" ng-options="option for option in densityOptions"></select>
            <p>{{hot.density.value | number}}</p>
            <br>
            <label>Viscosity</label>
            <input class="form-control" ng-model="hot.viscosity.input" type="number" step="any">
            <select class="form-control" ng-model="hot.viscosity.unit" ng-options="option for option in viscosityOptions"></select>
            <p>{{hot.viscosity.value | number}}</p>
            <br>
            <label>Thermal Conductivity</label>
            <input class="form-control" ng-model="hot.conductivity.input" type="number" step="any">
            <select class="form-control" ng-model="hot.conductivity.unit" ng-options="option for option in conductivityOptions"></select>
            <p>{{hot.conductivity.value | number}}</p>
            <br>
            <label>Specific Heat</label>
            <input class="form-control" ng-model="hot.specificHeat.input" type="number" step="any">
            <select class="form-control" ng-model="hot.specificHeat.unit" ng-options="option for option in specificHeatOptions"></select>
            <p>{{hot.specificHeat.value | number}}</p>
            <br>
            <label>Fouling Factor</label>
            <input class="form-control" ng-model="hot.foulingFactor.input" type="number" step="any">
            <select class="form-control" ng-model="hot.foulingFactor.unit" ng-options="option for option in foulingFactorOptions"></select>
            <p>{{hot.foulingFactor.value | number}}</p>
            <br>
          </div>
        </form>
      </fieldset>
      <fieldset class="col-md-6"><legend>Cold Fluid</legend>
        <div class="form-inline">
          <label for="coldFluid">Cold Fluid:</label>
          <select class="form-control" ng-model="cold.material" ng-options="option for option in coldFluidOptions"></select>
        </div>
        <p ng-bind="cold.side"></p>
        <br>
        <form class="form-inline">
          <input class="form-control" type="number" step="any" ng-model="cold.temp.In.input"></input>
          <select class="form-control" class="form-group"ng-model="cold.temp.In.unit" ng-options="option for option in tempOptions"></select>
          <p>{{cold.temp.In.value | number}}</p>
          <input class="form-control" type="number" step="any"ng-model="cold.temp.Out.input"></input>
          <select class="form-control" ng-model="cold.temp.Out.unit" ng-options="option for option in tempOptions"></select>
          <p>{{cold.temp.Out.value | number}}</p>
        </form>
        <form class="form-inline">
          <div class="form-group">
            <label>Density</label>
            <input class="form-control" ng-model="cold.density.input" type="number" step="any">
            <select class="form-control" ng-model="cold.density.unit" ng-options="option for option in densityOptions"></select>
            <p>{{cold.density.value | number}}</p>
            <br>
            <label>Viscosity</label>
            <input class="form-control" ng-model="cold.viscosity.input" type="number" step="any">
            <select class="form-control" ng-model="cold.viscosity.unit" ng-options="option for option in viscosityOptions"></select>
            <p>{{cold.viscosity.value | number}}</p>
            <br>
            <label>Thermal Conductivity</label>
            <input class="form-control" ng-model="cold.conductivity.input" type="number" step="any">
            <select class="form-control" ng-model="cold.conductivity.unit" ng-options="option for option in conductivityOptions"></select>
            <p>{{cold.conductivity.value | number}}</p>
            <br>
            <label>Specific Heat</label>
            <input class="form-control" ng-model="cold.specificHeat.input" type="number" step="any">
            <select class="form-control" ng-model="cold.specificHeat.unit" ng-options="option for option in specificHeatOptions"></select>
            <p>{{cold.specificHeat.value | number}}</p>
            <br>
            <label>Fouling Factor</label>
            <input class="form-control" ng-model="cold.foulingFactor.input" type="number" step="any">
            <select class="form-control" ng-model="cold.foulingFactor.unit" ng-options="option for option in foulingFactorOptions"></select>
            <p>{{cold.foulingFactor.value | number}}</p>
            <br>
          </div>
        </form>
      </fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <center>
        <img src="../../assets/images/shell.png">
      </center>
    </div>
    <div class="col-md-4">
      <center>
        <img src="../../assets/images/1.jpg">
      </center>
    </div>
    <div class="col-md-4">
      <center>
        <img src="../../assets/images/tube.jpg">
      </center>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <fieldset class="col-md-12"><legend>Specify:</legend>
        <div class="col-md-6">
          <input type="radio" ng-model="flow.material" value="hot">
          <label>{{hot.material}}</label>
          
        </div>
        <div class="col-md-6">
          <input type="radio" ng-model="flow.material" value="cold">
          <label>{{cold.material}}</label>
        </div>
        <br><br>
        <div class="col-md-12 form-inline">
          <div class="col-md-12">
            <center>
              <input type="radio" ng-model="flow.mode" value="mass">
              <label>Mass Flow Rate</label>
              <input type="radio" ng-model="flow.mode" value="volume">
              <label>Volume Flow Rate</label>
              <input class="form-control" ng-model="flow.rate.input" type="number" step="any">
              <select class="form-control" ng-model="flow.rate.unit" ng-options="option.unit for option in flowOptions"></select>
            </center>
          </div>
        </div>
        <br><br><br>
        <div class="col-md-6">
          <p>Hot Fluid Flow Rate: {{flow.rate.hotValue | number}}</p>
        </div>
        <div class="col-md-6">
          <p>Cold Fluid Flow Rate: {{flow.rate.coldValue | number}}</p>
        </div>
        <div class="col-md-12 form-inline">
          
          <br>
        </div>
      </fieldset>
      <fieldset class="col-md-12"><legend></legend>
        <div class="col-md-6 form-inline">
          <input class="form-control" ng-model="htc.input" type="number" step="any">
          <select class="form-control" ng-model="htc.unit" ng-options="option for option in heatTransferCoefficientOptions"></select>
          <p>{{htc.value | number}}</p>
          <br>
        </div>
        <div class="col-md-6">
          <p>R: {{R | number}}</p>
          <p>S: {{S | number}}</p>
          <p>fT: {{correctionFactor.value | number}}</p>
        </div>
      </fieldset>
      <fieldset class="col-md-12"><legend>LMTD Calculation</legend>
        <div class="col-md-6">
          <label>Flow Type:</label>
          <input type="radio" ng-model="lmtd.mode" value="parallel">
          <label>Parallel</label>
          <input type="radio" ng-model="lmtd.mode" value="counterCurrent">
          <label>Counter-Current</label>
        </div>
        <div class="col-md-6">
          <p>Hot Ends temp diff: {{lmtd.hotEndsTempDiff | number}}</p>
          <p>Cold Ends temp diff: {{lmtd.coldEndsTempDiff | number}}</p>
          <p>LMTD: {{lmtd.value | number}}</p>
          <p>Corrected LMTD: {{lmtd.correctedValue | number}}</p>
          <p>Heat Transfer Area: {{lmtd.heatTransferArea | number}}</p>
        </div>
        <div>
      </fieldset>
    </div>
  </div>
  <div class="row">
    <fieldset class="col-md-12"><legend>Design Specifications:</legend>
      <div class="col-md-6 form-inline">
        <label>Shell Diameter</label>
        <input class="form-control" ng-model="design.shellDiameter.input" type="number" step="any">
        <select class="form-control" ng-model="design.shellDiameter.unit" ng-options="option for option in lengthOptions"></select>
        <p>{{design.shellDiameter.value | number}}</p>
        <br>
        <label>Tube Clearance</label>
        <input class="form-control" ng-model="design.tubeClearance.input" type="number" step="any">
        <select class="form-control" ng-model="design.tubeClearance.unit" ng-options="option for option in lengthOptions"></select>
        <p>{{design.tubeClearance.value | number}}</p>
        <br>
        <label>Baffle Spacing</label>
        <input class="form-control" ng-model="design.baffleSpacing.input" type="number" step="any">
        <select class="form-control" ng-model="design.baffleSpacing.unit" ng-options="option for option in lengthOptions"></select>
        <p>{{design.baffleSpacing.value | number}}</p>
        <br>
        <label>Tube Pitch</label>
        <input class="form-control" ng-model="design.tubePitch.input" type="number" step="any">
        <select class="form-control" ng-model="design.tubePitch.unit" ng-options="option for option in lengthOptions"></select>
        <p>{{design.tubePitch.value | number}}</p>
        <br>
        <p>Outer Surface Area: {{design.outerSurfaceArea | number}}
      </div>
      <div class="col-md-6 form-inline">
        <label>Length of Tube</label>
        <input class="form-control" ng-model="design.tubeLength.input" type="number" step="any">
        <select class="form-control" ng-model="design.tubeLength.unit" ng-options="option for option in lengthOptions"></select>
        <p>{{design.tubeLength.value | number}}</p>
        <br>
        <label>Outside Dia. of Tube</label>
        <input class="form-control" ng-model="design.outerDia.input" type="number" step="any">
        <select class="form-control" ng-model="design.outerDia.unit" ng-options="option for option in lengthOptions"></select>
        <p>{{design.outerDia.value | number}}</p>
        <br>
        <label>Thickness of Tube</label>
        <select class="form-control" ng-model="design.thickness.input" ng-options="option for option in gaugeRangeOptions"></select>
        <select class="form-control" ng-model="design.thickness.unit" ng-options="option for option in gaugeOptions"></select>
        <p>{{design.thickness.value | number}}</p>
        <br>
        <label>Inside Dia. of Tube</label>
        <p>{{design.innerDia.value | number}}</p>
        <br>
      </div>
    </fieldset>
    <fieldset class="col-md-12">
      <div class="col-md-6 form-inline">
        <p>Pitch type:</p>
        <input type="radio" ng-model="design.pitchType" value="triangular">
        <label>Triangular</label>
        <input type="radio" ng-model="design.pitchType" value="square">
        <label>Square</label>
        <p>Equivalent Diameter:</p>
        <p>{{design.equivalentDiameter | number}}</p>
      </div>
      <div class="col-md-6 form-inline">
        <p>No. of Tubes:</p>
        <input class="form-control" ng-model="design.noOfTubes" type="number" step="any">
        <p>No. of Passes:</p>
        <select class="form-control" ng-model="design.noOfPasses" ng-options="option for option in passesOptions"></select>
        <p>Tubes per Pass:</p>
        <p>{{design.tubesPerPass | number}}</p>
      </div>
      <div class="col-md-6">
        <p>Flow Area: {{design.flowArea | number}}</p>
        <p>Flow Area Of Tube: {{design.flowAreaOfTube | number}}</p>
        <p>Linear Velocity Of Tube: {{design.linearVelocityOfTube | number}}</p>
        <p>Mass Velocity: {{design.massVelocity | number}}</p>
        <p>Mass velocity of Tube: {{design.massVelocityOfTube | number}}</p>
      </div>
    </fieldset>
  </div>
  <div class="row">
    <fieldset><legend>Heat Transfer Coefficient Calculations:</legend>
      <div class="col-md-6">
        <p>Shell Side Reynolds Number: {{shellReynolds | number}}</p>
        <p>Shell Side Prandtl Number: {{shellPrandtl | number}}</p>
        <p>Shell Side Nusselt Number: {{nusseltNumberShell | number}}</p>
        <p>Shell Side HT Coefficient: {{shellSideHTCoefficient | number}}</p>
        <p>Overall Heat Transfer Coefficient: {{overallHTCoefficient | number}}</p>
      </div>
      <div class="col-md-6">
        <p>Tube Side Reynolds Number: {{tubeReynolds | number}}</p>
        <p>Tube Side Prandtl Number: {{tubePrandtl | number}}</p>
        <p><b>{{tubeFlow}}</b></p>
        <p>Tube Side Nusselt Number: {{nusseltNumberTube | number}}</p>
        <p>Tube Side HT Coefficient: {{tubeSideHTCoefficient | number}}</p>
      </div>
    </fieldset>
    <fieldset><legend>Pressure Drop Calculation:</legend>
      <div class="col-md-6 form-inline">
        <label>Viscosity at Bulk Temperature:</label>
        <input class="form-control" ng-model="viscosityAtBulk" type="number" step="any">
      </div>
      <div class="col-md-6 form-inline">
        <label>Viscosity at Wall Temperature:</label>
        <input class="form-control" ng-model="viscosityAtWall" type="number" step="any">
      </div>
      <div class="col-md-6">
        <br>
        <p>Shell Friction Factor: {{shellFrictionFactor | number}}</p>
        <p>Shell Pressure Drop: {{shellPressureDrop | number}}</p>
      </div>
      <div class="col-md-6">
        <br>
        <p>Tube Friction Factor: {{tubeFrictionFactor | number}}</p>
        <p>Tube Pressure Drop: {{tubePressureDrop | number}}</p>
      </div>
    </fieldset>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p></p>
  </div>
</footer>
